* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --mainColor: #000000;
    --purpleColor: #5B4252;
    --maroonColor: #481E15;
    --greenColor: #172F1B;
    --brownColor: #492B1B; 
  }

  /* typography */
  html{
    font-family: "Inter", Helvetica, sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.5em; 
    font-size: 1rem;
    }

    body{
        max-width: 36rem;  
        margin: 0 auto;
        
    }

   /* skip to main button */ 
  #skip {
    margin: -1rem auto;
    display: block;
    z-index: 1001;
    top: -1rem;
    position: relative;
  }

#skip:hover{
    text-decoration: underline 1px solid #000;
}
#skip:focus {
  text-decoration: underline 1px solid #000;
}
#mainPag {
  padding: 1rem;
}
  /* top navigation */
.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    height: 4rem;
    position: fixed;
    padding: 0rem 0.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
}
  .header .logo {
    display: block;
    width: 100%;
    max-width: 8rem;
    margin-top: 0.5rem;
}
   .main-nav {
        flex: 1;
        text-align: right; /* Adjust alignment as needed */
    }
/* Styles for the hamburger button */
.menubt {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  max-width: 3rem;
  margin-top: 0.8rem;
}

button {
  background: none;
  border: none;
}

/* Styles for the navigation drawer */
.drawer {
  position: fixed;
  top: 0;
  right: -300px; /* Off-screen by default */
  width: 250px; /* Set your desired width */
  height: 100%;
  background-color: #ffffff; /* Set your desired background color */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease-in-out;
}

/* Styles for the navigation drawer when it's open */
.drawer.open {
  right:0;
  width: 340px;
}

/* Styles for the close button in the navigation drawer */
.closeBtn {
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: #000000; /* Set your desired color */
  cursor: pointer;
  margin-top: 20px;
  margin-left: 310px;

}

/* Styles for the main navigation links */
.bar {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2rem;
  justify-content: center;
}

.bar li {
  position: relative;
  padding: 0.8rem;
  font-size: 1rem;
  font-variation-settings: "wght" 300;
  text-align: center;
  justify-content: center;
  display: grid;
}
.bar a {
  text-decoration: none;
  color: #000000; /* Set your desired color */
  display: block;
}
/* link styling */
.bar li:link{
  text-decoration: none;
}
.bar li:visited{
  color: #433461;
  font-variation-settings: "wght" 600;
}
.bar li:hover {
  font-size: 1.1rem;
  font-variation-settings: "wght" 600;

}
.bar li:focus{
  font-size: 1.1rem;
  font-variation-settings: "wght" 600;
}
.bar li:active{
  text-decoration: underline 2px solid #987BD7;
}


/* Styles for the navigation dropdown */
.bar li ul {
  list-style: none;
  display: none;
  background-color: #ffffff;
  place-items: center;  /* Position the submenu to the right of the parent */

}
.bar li ul li {
  border: 0.25px solid #000;
  width: 100%;
}
.bar li ul li:last-child {
  border-bottom: 1px solid #000;
}
.bar li ul li a {
  color: #000000;
}
.drawer .bar li:hover > ul {
  display: block;
}
.drawer .bar li:focus> ul {
  display: block;
}

/* this is the top name */
.name {
  color: #c8c8c8;
  font-size: 0.9rem;
}
.iconswhite{
  margin-top: 3rem; /*
  margin-left: -74.5rem;*/
  margin-bottom: -5rem;
}

/*hero banner */
.herobanner{
    padding: 5rem 1rem 5rem 1rem;
    background-color: #000000;
}
.herobanner1{
  padding: 1rem 1rem 0 1rem;
  background-color: #000000;
}
.herotitle{
    color: #fff;
    font-variation-settings: "wght" 800;
    font-size: 3rem;
    line-height: 1em;
}
.herointro{
    color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.or {
  color: #909090;
}
.links {
  margin: 0 3px;
  color: #ffffff;
  text-decoration: none;
  font-variation-settings: "wght" 700;
  position: relative; /* Required for pseudo-element */
 
}
.links::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Adjust this value to control the underline thickness */
  width: 0;
  height: 2px; /* Adjust this value to control the underline thickness */
  background-color: #ffffff;
  transition: width 0.3s ease;
  
}

.links:hover::before,
.links:focus::before { /* Add focus style */
  width: 100%;
  color: #fff;
  outline: none; /* Remove default focus outline */
}
.scrollbutton{
    display: block;
    width: 30%;
    margin-top: -4.5rem;
    margin-left: 13.5rem;
}

/* the homepage heading padding*/
.headings{
    padding: 1rem 1.5rem;}

/*headings*/
h1{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1.375rem;
    font-variation-settings: "wght" 800;
}
h2{
    font-family: "Inter", Helvetica, sans-serif;
    color: #000000;
    line-height: 1.1em;
    font-size: 1.25rem;
    font-variation-settings: "wght" 700;
}
h3{
    font-family: "Inter", Helvetica, sans-serif;
    color: #403F3F;
    line-height: 1.1em;
    font-size: 1.125rem;
    font-variation-settings: "wght" 700;
}

/*homepage portfolio */
.tags {
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
}
.tag {
  color: #000;
  border: 1px solid #000;  border-radius: 0.5rem;
  padding: 0.14rem 0.3rem;
  font-size: 0.625rem;
  display: inline-block;
  font-variation-settings: "wght" 350;
}
.contentintro1 {
  padding: 0rem 1rem;
  /*! margin-top: -1.5rem; */
}
.contentintro2-2 {
  padding: 0rem 1rem;
}
.contentintro2 {
  padding: 1rem;
  margin-top: -1.5rem;
}
.portfoliosample1 {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding: 0rem 0rem 1rem 0rem;
}
.portfoliosample2{
    padding: 0rem 0rem 1rem 0rem;
}
.portfoliosample3{
    margin-bottom: 2rem; 
    padding: 0rem 0rem 1rem 0rem;
}
.intropara1{
    color: #fff;
    padding: 0.9rem 1rem;
    font-variation-settings: "wght" 300;
    max-width: 32rem;
}
.intropara2{
    color: #000;
    font-variation-settings: "wght" 300;
    padding: 0rem 0rem 1rem 0rem;
    max-width: 32rem; 
}
/* this add the fade in animation to the website */
.fade-in {
  opacity: 0;
  transform: translateY(20px); /* Optional: You can adjust the initial position */
  transition: opacity 0.5s ease, transform 0.1s ease;
}
.fade-in.active {
  background-color: #fff;
  opacity: 1;
  transform: translateY(0);
}
/*explore more button styling */
.exploremore{
   padding: 0.8rem;
   color: #fff;
   background-color: #020202;
   border-radius: 0.4rem;
   margin-left: auto; /* Set left margin to auto */
   margin-right: auto; /* Set right margin to auto */
   text-decoration: none;
   font-variation-settings: "wght" 700; /*bold */
   display: block; /* Make it a block element */
   width: fit-content; /* Adjust the width as needed */
   text-align: center; /* Center-align text inside the button */
   box-shadow: inset 0 0 3px #fff;
}
.exploremore:link{
  text-decoration: none;
}
.exploremore:visited{
  text-decoration: underline;
}
.exploremore:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transform: translateY(-0.25em);
  background-color: #fff;
  border: 1.4px solid #000;
  transition: 0.4s linear;
  color: #000;
}
.exploremore:focus{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transform: translateY(-0.25em);
  background-color: #fff;
  border: 1.4px solid #000;
  color: #000;
}
.exploremore:active{
  text-decoration: none;
}

/* ADDITIONAL WORK STYLING */
.printmedia {
border: 1px solid #000000;
border-radius: 4px;
padding: 0rem 0rem 1rem 0rem;
/*! margin-top: 1rem; */
margin-bottom: 2rem;
}
.description {
    color: #000;
    font-variation-settings: "wght" 400;
    padding: 0.7rem 1rem 1rem;
    
}
/* explore button styling*/
.exploremore1{
    padding: 0.8rem;
    color: #ffffff;
    background-color: #000000;
    text-decoration: none;
    font-variation-settings: "wght" 700; /*bold */
    margin-left: auto;
    margin-right: auto; 
    display: block;
    width: fit-content; 
    text-align: center;
    border-radius: 0.4rem;
 }
 .exploremore1:link{
  text-decoration: none;
}
.exploremore1:visited{
  text-decoration: underline;
}
.exploremore1:hover{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transform: translateY(-0.25em);
  background-color: #fff;
  border: 1.4px solid #000;
  transition: 0.4s linear;
  color: #000;
}
.exploremore:focus{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transform: translateY(-0.25em);
  background-color: #fff;
  border: 1.4px solid #000;
  color: #000;
}
.exploremore1:active{
  text-decoration: none;
}
 .headingadditional {
    padding: 1rem;
 }
 .introtitle1 {
    color: #000000;
    padding: 0rem 1rem;
    line-height: 1.1em;
    font-size: 1.2rem;
    font-variation-settings: "wght" 700; 
    margin-top: 1rem;
 }

 .introimage1{
   border-bottom: 1px solid #000;
   background-color: #000; 
 }

 /*about page */
 .herobanner01{
  background-color: #000;
  padding: 1rem;
  
 }
 .aboutbanner{
  margin-top: 6rem;
 }
.name-about{
  font-size: 1.3rem;
  font-variation-settings: "wght" 400;
}
 .experience{
  color: #000;
  font-variation-settings: "wght" 800;
  line-height: 1.1em;
  font-size: 2.3rem;
  margin-bottom: 3rem;
 }
 .herotwo2{
  margin-top: 1rem;
 }
 .role{
  font-variation-settings: "wght" 500;
  line-height: 1.2em;
  margin-top: 0.3rem;
  font-size: 1.1rem;
 }

 .grad1-details {
  margin-top: 1rem;}
 .herointro2 {
  max-width: 80rem;
  color: #fff;
 }


/*footer */
footer{
  background-color: #000;
  color: #fff;
  margin-top: 3rem;
  padding: 1rem;
}
footer p{
  font-size: 0.8rem;
}
.footercontent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.foot1{
  max-width: 15rem;

}
.foot2{
  max-width: 10rem; 
  margin-left: 2rem;
}
.backtop{
  cursor: pointer;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  transform: translateY(-40%); /* Translate the image up by 40% of its own height to vertically center it */
  margin-top: -1.5rem;
}
/*social icons */
.sicon {
  width: 30px; /* Adjust the width value to set the desired size */
  height: 30px; /* Adjust the height value to maintain the aspect ratio */
  margin-top: 0.5rem;
  opacity: 50%;
}
.sicon:hover {
  opacity: 100%;
}
.sicon:focus {
  opacity: 100%;
}
.sicon1 {
  opacity: 50%;
  width: 30px; 
  height: 30px; 
}
.sicon1:hover {
  opacity: 100%;
}
.sicon1:focus {
  opacity: 100%;
}
.social ul{
    display: flex; /* Use flexbox to arrange the icons in a row */
    flex-direction: row;
  }
.social li{
    list-style: none; 
  } 
  /*about page*/
  .herotitle1 {
    font-size: 1.3rem;
    color: #989898;
    font-variation-settings: "wght" 400;
   }
   .aboutmargin{
    margin-left: 1rem;
   }
 .iconswhite-1{
  display: none;
 }
 .imagesec {
  margin-top: -4rem;
  margin-bottom: -1.4rem;
}
  .resume{
    padding: 1rem;
  }
  .grad1 {
    margin-top: 1rem;
  }
  .job {
    font-size: 1.14rem;}

  .grad{
  margin-top: 1.5rem;}
  .herointro2- {
   color: #fff;
   margin-top: 0.5rem;
  }

  /*motion graphics page */
  .motion {
    padding: 1rem;
    margin-top: 5rem;
  }
  .motion-content{
    margin-bottom: 1rem;
  }
  .mo-cont{
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .video {
  margin-top: 1rem;
  }
  .logoanimation {
  margin-top: 3rem;
  }
 .logo-video {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .client{
 color: #3f3f3f;
 margin-top: 0.5rem;
 font-variation-settings: "wght" 472;
 }
.logo-content{
 margin-bottom: 1rem;
}
.loop-content{
 margin-bottom: 1rem;
}
.logo2-content{
 margin-bottom: 1rem;
}
.promotional-content{
 margin-bottom: 1rem;
}
.desktop{
 display: none;
}
.software {
 color: #4f4f4f;}

/*graphic design page */

/* Slideshow container */
 .scrool {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }
 .logos-scrool {
  margin-top: 4rem;}

 .slideshow-container {
  max-width: 500px;
  position: relative;
  margin: auto;
 }
/* Next & previous buttons */
.prev, .next {
  top: 38%;
  cursor: pointer;
  position: absolute;
  width: auto;
  color: #402f65;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 4px;
  user-select: none;
  text-align: center;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 4px;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 1px 2px;
  background-color: #161237;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #987BD7;
}
.nexxt {
  text-align: center;
}
.fade-in-out {
  animation: fade 1s ease-in-out;
}
@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/*case study 1*/
.casehead{
  margin-top: 6rem;
  margin-bottom: 2rem;
}
.types{
  color: #4f4f4f;
  font-size: 0.8rem;
  line-height: 1.5em;
}
.one{
  margin-bottom: 1.5rem;
}
.two{
  margin-bottom: 1.5rem;
}
.three{
  margin-bottom: 1.5rem;
}
.four{
  margin-bottom: 1.5rem;
}
.five{
  margin-bottom: 1.5rem;
}
.six{
  margin-bottom: 1.5rem;
}
.one-1{
  margin-bottom: 1.5rem;
}
.two-1{
  margin-bottom: 1.5rem;
}
.three-1{
  margin-bottom: 1.5rem;
}
.four-1{
  margin-bottom: 1.5rem;
}
.five-1{
  margin-bottom: 1.5rem;
}
.six-1{
  margin-bottom: 1.5rem;
}
.process{
  margin-bottom: 1rem;
}
.userflow{
  margin-bottom: 1rem;
}
.userflowchart-1p{
  display: none;
}
.prototype1{
  margin-bottom: 3rem;
  margin-top: 1rem;
}
.prototype2{
  margin-bottom: 1rem;
  /*! margin-top: 2rem; */
}
.accessibility{
  margin-bottom: 1rem;
}
.styleguide{
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.visualdesign{
  margin-bottom: 1rem;
  margin-top: 2rem;
}
.difful{
  list-style: none;
}
.lastpart{
  background-color: #000;
  color: #ffffff;
  margin-bottom: 2rem;
  padding: 1rem;
}
.lastparth2{
  color: #ffffff;
  margin-bottom: 3rem;
}
.conclusion{
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.conclusion1{
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  
}
.cont{
  margin-bottom: 2rem;
}
.featureul {
  margin-left: 1.5rem;}
  .num{
    font-variation-settings: "wght" 700;
    text-decoration: underline;
  }
  .li-fimargin{
    margin-top: 1.3rem;
  }
  /* case study 2 */
  .mobile-centered{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .readmore{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .userflowchartt {
    margin-top: 1rem;
  }
  /* icons grid */
  .caseone{
    font-size: 0.9rem;
    font-variation-settings: "wght" 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    text-align: center;
    line-height: 1.3em;
  }
  .caseicons{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    justify-items: center;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  } /*
  .casetext{
     margin-top: 1rem; */
  
  .new-tab-link {
    margin-top: 0.5rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-variation-settings: "wght" 400;
    color: #000000; /* Link color */
  }
  .new-tab-link:hover {
  opacity: 100%;
  color: #42365c;
  font-variation-settings: "wght" 700;
  }
  .new-tab-icon {
    width: 16px; 
    height: 16px;
    margin-left: 5px; /* Adjust spacing between text and icon */
    
  }
  .new-tab-link:hover .new-tab-icon {
    filter: invert(65%); /* Invert color on hover (optional) */
  }
  .userflowchart-1 {
    margin-top: 1rem;
  }
  .process-1 {
    margin-top: 2rem;}
    .experiencee {
      margin-top: 1.4rem;}
      .cont-1{
        margin-top: 0.6rem;
      }
      .featurediv{
        margin-bottom: 2rem;
        margin-top: 1rem;
      }
      .featurediv1{
        margin-top: 2rem;
      }
      .icon-black{
        display: block;
      }
      .icon-white{
        display: none;
      }
/* desktop version */

  @media (min-width: 900px) {
    body{
    max-width: 100rem; 
    font-size: 1.188rem;
    margin: 0 auto; 
    line-height: 1.6em;}


 .header {
    max-width: 100rem;
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 1.5rem 2rem;
    z-index: 1000;
    align-items: center;
    position: fixed;
 }
 /*header logo */
 .header .logo {
  width: 100%;
  margin-left: 4.5rem;
  max-width: 10rem;
  margin-bottom: 1rem;
  }
  /*navigation */
  .closeBtn{
    display: none;
  }
.bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 1.5rem;
    position: relative;
    }
    .bar li {
      position: relative;
    }
   
    .bar li a{
      color: #000;
      font-size: 1.05rem;
      font-variation-settings: "wght" 450;
      text-decoration: none;
    }
    .bar li a:hover{
      font-size: 1.1rem;
      font-variation-settings: "wght" 600;
    }
    .bar li a:focus{
      font-size: 1.1rem;
      font-variation-settings: "wght" 600;
    }
     /* navigation menu */
     .drawer {
      height: 4.5rem;
      border: none;
      outline: none; 
      width: 65rem;
      position: absolute;
      /*! transition: none; */
      border: none;
      margin-right: 3rem;
      margin-top: -0.5rem;
      box-shadow: none;
      }
      .bar li ul{
        margin-top: 3.5rem;
        position: absolute;
        width: 15rem;
        justify-content: center;
        margin-left: -4rem;
      }
      button {
        display: none;
      }

 .heroone{
  /*! max-width: -1rem; */
  margin-left: 11rem;
 }
 .heroonee{
  max-width: 40rem;
  align-content: center;
 }
 .herointro {
  max-width: 30rem;
}
 .herobanner {
  display: flex;
  flex-direction: row;
  /*! margin: 0 auto; */
  padding: 10rem 1rem 6rem 0rem;
  height: 85vh;
  align-items: center;
 }
 .herotwo {
  margin-left: 7rem;
  margin-top: -1rem;
 }
 .herotitle {
  font-size: 7rem;
  text-align: right;
 }

 .herobanner0s1 {
  display: flex;
  flex-direction: row;
  padding: 5rem 1rem 6rem 1rem;
  height: 85vh;
  align-items: center;
  /*! padding: 3rem; */
  justify-content: center;
 }
 .name{
  font-size: 1rem;
 }
 /*headings */
 h1{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.3;
  /*font-size: 2.188rem;*/
}
h2{
  font-size: 2.2rem;
  line-height: 1.4em;
}
h3{
  font-size: 1.8rem; 
}
h4{
  font-size: 1.5rem; 
}
.introtitle {
  font-size: 2.063rem;
  font-variation-settings: "wght" 800;
}
.headings{
  padding: 0rem 0 2rem 6.2rem;}
.headingadditional {
  padding: 4rem 6.5rem;
}

.portfoliosample1{
display: flex;
flex-direction: row;
margin: 0 auto;
padding: 2rem 1rem 1rem;
align-items: center;
}
.portfoliosample2{
  display: flex;
  flex-direction: row-reverse;
  padding: 2rem 1rem 1rem;
  align-items: center;
  margin-top: 2rem;
  }
  .portfoliosample3{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 2rem 1rem 1rem;
    align-items: center;
    }
    .portfoliosample4{
      display: flex;
      flex-direction: row-reverse;
      padding: 2rem 1rem 1rem;
      align-items: center;
      margin-top: 2rem;
      }
.contentintro1{
  max-width: 40rem;
  padding: 2rem 2rem 2rem 6.5rem;
  margin-left: 6rem;
}
.contentintro2{
  max-width: 40rem;
  padding: 2rem;
  margin-right: 5rem;
}
.contentintro2-2{
  max-width: 40rem;
  padding: 2rem;
  margin-right: 5rem;
}

.exploremore {
  margin-left: 0rem;
}
.imageintro{
  width: 40%;
  margin-left: 2rem;
  align-content: center;
}
.imageintro2{
  width: 43%;
  margin-left: 2rem;
 margin-right: 4rem;
}
.printmedia{
max-width: 30rem;
}
.flexcontent{

  display: flex;
  flex-direction: row;
  gap: 6rem;
  margin-left: 11rem;
}


/*about page */
.resume {
    padding: 3rem 3rem 3rem 6.5rem;
}
.herotwo2 {
  max-width: 36rem;
  margin-left: 20rem;
}

.exploremore1 {
 margin-left: 12rem;
}

.grad{
  display: flex;
  flex-direction: row;
  gap: 10rem;
}
time {
  font-size: 1.1rem;
}
.job {
  font-size: 1.6rem;
}
.role{
  font-variation-settings: "wght" 500;
  margin-top: 1rem;
  font-size: 1.3rem;
 }
.grad1-content{
  max-width: 17rem;
}
.grad1-details{
  max-width: 43rem;
  margin-top: -0rem;
  margin-bottom: 2rem;
}

/*scrool button*/
.scrollbutton {
    width: 7%;
    margin: -4rem auto 1rem auto;
}
.iconswhite {
  margin-top: 22rem;
  margin-left: -73.5rem;
}
.iconswhite-1 {
  margin-top: 22rem;
  margin-left: -73.5rem;
}
/*homepage tags portfolio */
.tags {
  grid-column-gap: 0.625rem;
  grid-row-gap: 0.625rem;
  flex-wrap: wrap;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
  display: flex;
  max-width: 24rem;
}
.tag {
  color: #000000;
  border: 1px solid #000000;  
  border-radius: 0.5rem;
  padding: 0.25rem 0.625rem;
  font-size: .75rem;
  display: inline-block;
  font-variation-settings: "wght" 400;
}
.types {
  margin-bottom: 1rem;
  font-size: 1rem;}
/*back to top button */
.backtop {
  width: 5%;
  margin-top: -3.5rem;
}
footer{
  padding: 3rem;
}
footer p{
  font-size: 1rem;
}
.foot2 {
  max-width: 15rem;
  margin-left: 40rem;}

/*motion graphics page */
.motion-con{
  padding: 2rem 3rem 1rem 4.5rem;;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
.motion-content {
  max-width: 36rem;
}
.motion-video{
  max-width: 40rem;
}
.logoanimation{
  padding: 2rem 3rem 1rem 4.5rem;;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}
.logo-content{
  max-width: 27rem;
}
.logo-video{
  max-width: 40rem;
}
.mobile{
  display: none;
}
.desktop{
  display: block;
}
/*graphic design*/
.scrools{
  padding: 6rem 3rem 1rem 11rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /*! gap: 10rem; */
}
.prev, .next {
  top: 39%;
  font-size: 50px;}
  .sicon {
    width: 50px; 
    height: 50px;  }
/*casestudy1*/
.casehead{
  display: flex;
  padding: 3rem 6rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: -5rem;
}
.imagetop{
  max-width: 40rem;
}
.grid{
  display: grid;
  padding: 3rem;
  grid-template-rows: auto auto; /* 2 rows, adjust the height as needed */
  grid-template-columns: 1.2fr 0.5fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 45px;
}
.grid-1{
  display: grid;
  padding: 3rem;
  grid-template-rows: auto auto; /* 2 rows, adjust the height as needed */
  grid-template-columns: 1fr 1fr 0.5fr;
  grid-row-gap: 20px;
  grid-column-gap: 45px;
}
.one {
  grid-column: 1 / 1; /* Div one spans from column 1 to column 2 */
  grid-row: 1 / 2; /* Div one spans from row 1 to row 2 */}
  .two {
  grid-column: 1 / 2; /* Div two spans from column 2 to column 3 */
  grid-row: 2 / 2; /* Div two spans from row 1 to row 2 */
  }
  .one-1 {
    grid-column: 1 / 1; /* Div one spans from column 1 to column 2 */
    grid-row: 1 / 2; /* Div one spans from row 1 to row 2 */}
    .two-1 {
    grid-column: 1 / 2; /* Div two spans from column 2 to column 3 */
    grid-row: 2 / 2; /* Div two spans from row 1 to row 2 */
    }
    .four-1 {
      grid-column: 2 / 2;
      grid-row: 2 / 2;}
.grid-center{
  margin-left: 2rem;
}
.difful{
  list-style: circle;
  margin-left: 1rem;
  /*! margin-top: 1rem; */}
.process{
  padding: 3rem;
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}
.process-1{
  background-color: #351802;
  color: #fff;
}
.processcontent {
  max-width: 36rem;
  margin-left: 2rem;
}
.processcontent-1{
  max-width: 36rem;
}
.design-padding{
  padding: 1rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.userflow {
  padding: 3rem 6rem;}
  .userflow1 {
    padding: 0rem 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
}
.userflow-content {
    flex: 1; /* Allow this div to grow and take available space */
    padding: 1rem; /* Add padding to create space around the content */
}

.userflowchart {
    flex: 1; /* Allow this div to grow and take available space */
    padding: 1rem; /* Add padding to create space around the image */
}
.prototype1{
  padding: 3rem 6rem;
}
.prototype1-1{
  padding: 3rem 0rem;
}
.prototype2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0rem 6rem;
}
.hi-content{
  max-width: 35rem;
}
.hii-fimargin{
  padding: 0rem 6rem;
  margin-bottom: 2rem;
}
.cont-1{
  max-width: 35rem;
  margin-bottom: 3rem;
}
.con-content{
  max-width: 38rem;
}
.accessibility{
  display: flex;
  flex-direction: row;
  padding: 0rem 6rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.acc-content{
  max-width: 36rem;
}
.styleguide{
  padding: 3rem 6rem;
}
.visualdesign{
  padding: 3rem 6rem;
}
.lastpart{
  padding: 3rem 6rem 0rem 6rem;
  margin-top: -5rem;
}
.featurediv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 0rem;
}
.featurediv1{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-bottom: 0rem;
}
.conclusion{
  padding: 0rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.conclusion1{
  padding: 0rem 6rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.feature{
  max-width: 35rem;
}
.userflowchart{
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.userflowchart-1{
  margin-top: 3rem;
}
.lastparth2{
  margin-bottom: 0rem;
}
.userflowchart-1{
  display: block;
}
/*case study 2*/
.typecont{
  max-width: 73rem;
}
.experiencee{
  padding: 0rem 6rem;
}
.mobile-centered{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.readmore{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
}
.readmorecontent{
  max-width: 40rem;
}
.darkmode{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.darkmodecontent{
  max-width: 35rem;
}
.userflowchartt {
  margin-top: 0rem;
}
.workss {
  padding: 2rem 6rem;
}
.scancode{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
.scancodecontent{
  max-width: 38rem;
}
.getinfocontent{
  max-width: 38rem;
}
.getinfo{
  margin-top: 4rem;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  margin-bottom: 0rem;
  gap: 4rem;
}
.caseicons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);}

  .new-tab-link {
    font-variation-settings: "wght" 600;
   margin-top: 0rem;
  }
  .userflowchart-1p{
    display: block;
  }
  .icon-black{
    display:none;
  }
  .icon-white{
    display:block;
  }
  }